.HomeBody {
  position: absolute;
  bottom: 0;
  height: 77%;
  width: 99%;
}
.homeBodyCircle {
  position: absolute;
  bottom: 0;
  height: 70%;
  width: 40%;
  border-radius: 100%;
  align-self: center;
  left: 40%;
}
.HomeElements {
  width: 95vw;
  height: 77vh;
  position: absolute;
  left: 2.4%;
  top: 22%;
}
.HomeDownloadMap {
  position: absolute;
  right: 10%;
  background: none;
  border: none;
  top: 25%;
}
