.loginContainer {
  height: 70vh;
  width: 55vw;
  background-color: white;
  display: flex;
  align-items: center;

  justify-content: center;
  flex-direction: column;
}
.buttonsContainer {
  /* border: 1px solid black; */
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;

  align-items: center;
  justify-content: center;
}
.textInputContiner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  align-items: center;
  justify-content: center;
  /* border: 1px black solid; */
  /* text-align: center; */
}

.touchable-button {
  margin-top: 8%;
  color: rgb(89, 107, 178);
  border: none;
  background-color: white;
  cursor: pointer;
  outline: none;
  align-self: center;
}
