.InfoCard-body {
  width: 30%;
  height: 35%;

  background-color: #f4e6f6;

  position: relative;
}
.InfoCard-body.seatBooking {
  margin-bottom: 0.5%;
  width: 90%;
  height: 30%;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.InfoCard-body.availableColor {
  margin-bottom: 0.5%;
  width: 90%;
  height: 30%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cancelButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #fff;
  border-color: #f79988;
  width: 30%;
  height: 20%;
  color: #f79988;
}
.InfoCard-infoBody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}
.InfoCard-infoBody span {
  font-weight: 700;
}

.InfoCard-infoBody span span {
  font-weight: 500;
}
.InfoCard-switch {
  height: 40%;
  width: 80%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
}
.InfoCard-switch span {
  font-size: x-large;
  font-weight: 700;
}
.InfoCard-switch-button-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.InfoCard-switch-button {
  border: none;
  background-color: #414bb2;
  color: #fff;
  position: absolute;
  width: 150px; /* Set to a fixed pixel value */
  height: 50px; /* Set to a fixed pixel value */
  border-radius: 30px; /* Set to half of the smaller dimension (width or height) */
  right: 5%;
}
